@use "../../scss/abstracts/" as *;
.intro-banner {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  margin: 20px 0 0;
  &::-webkit-scrollbar {
    display: none;
  }
  img {
    width: 330px;
    height: 200px;
    object-fit: fill;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    @include normal-desktop {
      width: 275px;
      height: 170px;
    }
    @include mini-desktop {
      width: 230px;
      height: 160px;
    }
  }
}