@use "../../../scss/abstracts/" as *;
.home {
  &__container {
    width: 1500px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    @include large-desktop {
      width: 1400px;
    }
    @include normal-desktop {
      width: 1150px;
      padding: 0;
    }
    @include mini-desktop {
      width: 100%;
      padding: 0 25px;
    }
    @include tablet {
      width: 100%;
      padding: 0 20px;
    }
    @include mobile {
      width: 100%;
      padding: 0 10px;
    }
  }
}

.new-product {
  margin: 20px 0 0;
  &__header {
    display: flex;
    justify-content: space-between;
    h4 {
      text-transform: uppercase;
      font-size: 28px;
      letter-spacing: 1px;
      color: $txtColor;
      @include tablet {
        font-size: 24px;
      }
      @include mobile {
        font-size: 24px;
      }
    }
    &--view-all {
      background-color: $light-gray;
      border: 1px solid #e5e7eb;
      border-radius: 10px;
      color: $txtColor;
      float: right;
      font-size: 13px;
      height: 34px;
      padding: 5px 10px;
      white-space: nowrap;
      &:hover {
        color: $txtColor !important;
        border: 1px solid #e5e7eb !important;
      }
    }
  }
  &__list {
    height: 480px;
    padding: 20px 10px !important;
    @include tablet {
      height: 450px;
    }
    @include mobile {
      height: 410px;
    }
  }
}

.mobile-outstanding {
  margin: 20px 0 0;
  &__header {
    display: flex;
    justify-content: space-between;
    @include mini-desktop {
      display: grid;
    }
    @include tablet {
      display: grid;
    }
    @include mobile {
      display: grid;
    }
    h4 {
      text-transform: uppercase;
      font-size: 28px;
      letter-spacing: 1px;
      color: $txtColor;
      @include tablet {
        font-size: 24px;
      }
      @include mobile {
        font-size: 24px;
      }
    }
    &--group {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      column-gap: 10px;
      @include tablet {
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      @include mobile {
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    &--view-all {
      background-color: $light-gray;
      border: 1px solid #e5e7eb;
      border-radius: 10px;
      color: $txtColor;
      float: right;
      font-size: 13px;
      height: 34px;
      padding: 5px 10px;
      white-space: nowrap;
      &:hover {
        color: $txtColor !important;
        border: 1px solid #e5e7eb !important;
      }
    }
  }
  &__list {
    height: 480px;
    padding: 20px 10px !important;
    @include tablet {
      height: 450px;
    }
    @include mobile {
      height: 410px;
    }
  }
}
