@use "../../scss/abstracts/" as *;
.user-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &__back-to-top {
    position: fixed;
    right: 9%;
    bottom: 7%;
    background: #2087ed;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    padding: 0;
    border: none;
    border-radius: 50%;
    z-index: 9;
    &:hover {
      color: #fff !important;
    }
    @include large-desktop {
      right: 10%;
    }
    @include normal-desktop {
      right: 6%;
      bottom: 12%;
    }
    @include mini-desktop {
      right: 5%;
      bottom: 10%;
    }
  }
}