@use "../../../scss/abstracts/" as *;
.policy-term {
  width: 1200px;
  margin: auto;
  // @include mini-desktop {
  //   width: 800px;
  // }
  @include tablet {
    width: 700px;
  }
  @include mobile {
    width: 370px;
  }
  @include mini-mobile {
    width: 300px;
  }
  &__container {
    margin: 30px 0;
    padding: 20px;
    border-radius: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    h4 {
      font-size: 28px;
      color: $dark-red;
      @include mobile {
        font-size: 22px;
      }
      @include mini-mobile {
        font-size: 18px;
      }
    }
    h5 {
      font-size: 20px;
      margin: 20px 0 10px;
      @include mini-mobile {
        font-size: 16px;
      }
    }
    p, ul li {
      @include mobile {
        font-size: 14px;
      }
    }
  }
}
