$bodyBg: #fff;
$mainBg: #fff;
$mainColor: #8624DB;
$txtColor: #444;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #ff1000;
$dark-red: #e3291c;
$light-orange: #ff8609;
$dark-gray: #2a2a2a;
$light-gray: #f3f4f6;

$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mini-mobile-width: 375px;
$mobile-width: 425px;
$tablet-width: 768px;
$mini-desktop-width: 1024px;
$normal-desktop-width: 1440px;